.hidden {
    display:none;
}

button, input[type=submit] {
    padding:1%;
}

#book {
    border: solid;
}

#bookForm {
    /* display: none; */
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 1px groove;
    z-index: 9;
    background-color:whitesmoke;
    padding:5%;
    border-radius: 3%;
}

#bookForm input {
    padding:3%;
}

