.hidden {
    display:none;
}

button, input[type=submit] {
    padding:1%;
}

#book {
    border: solid;
}

#bookForm {
    /* display: none; */
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 1px groove;
    z-index: 9;
    background-color:whitesmoke;
    padding:5%;
    border-radius: 3%;
}

#bookForm input {
    padding:3%;
}

#bookDisplay {
    display:grid;
    grid-template-columns: 20% 20% 20%;
    grid-gap: 2%;
}


.closeIcon {
    content: url("../img/remove.png");
    /* width: 100px;
    height:  100px; */
    background-color: red;
}
